body 
{
	background: darkcyan;
}

input
{
	background: MediumAquamarine;
	border: 2px solid MediumAquamarine;
	border-radius: 6px;
	display: inline-block;
}

button
{
	background: LightSeaGreen;
	border: 2px solid MediumAquamarine;
	font-weight: bold;
	border-radius: 6px;
}

select
{
	background: LightSeaGreen;
	border: 1px solid black;
	font-weight: bold;
	border-radius: 6px;
}

/*Table*/

TABLE 
{
	border-collapse: collapse;
	width: 90%;
}

TH, TD 
{
	background: LightSeaGreen;
	border: 3px solid darkcyan;
	text-align: center;
	padding: 4px;
	border-radius: 6px;
	color: black;
}

TH 
{
	background: MediumAquamarine;
	height: 40px;
	vertical-align: bottom;
	padding: 0;
	font-weight: bold;
}

div.requests_coise_form {
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	display: block;
	width: 99%;
}

/*Settings*/

form.settings_form {
	background: LightSeaGreen;
	padding: 5px;
	color: black;
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 6px;
}

input.settings_form_input {
	text-align: center;
	padding: 3px;
	margin-bottom: 1px;
	width: 23%;
	height: 25px;
	border: 1px solid #000;
	width: 150px;
	border-radius: 4px;
	flex-wrap: wrap;
	display: inline-block;
}

/*Requests*/

form.requests_rest_full {
	background: LightSeaGreen;
	padding: 5px;
	color: black;
	margin-right: 60%;
	margin-left: 15px;
	width: 85%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 6px;
}

input.rest_full_input {
	text-align: center;
	padding: 3px;
	margin-bottom: 1px;
	width: 23%;
	height: 20px;
	border: 1px solid #000;
	width: 150px;
	border-radius: 4px;
	flex-wrap: wrap;
	display: inline-block;
}


form.requests_rest_lite {
	background: LightSeaGreen;
	padding: 5px;
	color: black;
	margin-right: 60%;
	margin-left: 15px;
	width: 85%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 6px;
}

input.rest_lite_input {
	text-align: center;
	padding: 3px;
	margin-bottom: 1px;
	width: 23%;
	height: 20px;
	border: 1px solid #000;
	width: 150px;
	border-radius: 4px;
	flex-wrap: wrap;
	display: inline-block;
}

form.requests_job_quit {
	background: LightSeaGreen;
	padding: 5px;
	color: black;
	margin-right: 60%;
	margin-left: 15px;
	width: 85%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 6px;
}

input.job_quit_input {
	text-align: center;
	padding: 3px;
	margin-bottom: 1px;
	width: 23%;
	height: 20px;
	border: 1px solid #000;
	width: 150px;
	border-radius: 4px;
	flex-wrap: wrap;
	display: inline-block;
}

/*Admin menu*/

input, label 
{
    display: block;
}

form.adminmenu_add_user_form {
	background: LightSeaGreen;
	padding: 1px;
	color: black;
	margin-top: 4px;
	margin-right: 60%;
	margin-left: 3px;
	width: 85%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	flex-flow: row wrap;
	border-radius: 6px;
}

input.adminmenu_add_user_form_input 
{
	text-align: center;
	padding: 1px;
	margin-bottom: 1px;
	width: 23%;
	height: 20px;
	border: 1px solid #000;
	width: 150px;
	border-radius: 4px;
	flex-wrap: wrap;
	/* display: inline-block; */
}

label.adminmenu_add_user_form_label {
	margin: 5px 10px 5px 0;
}